.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    background-color: $White;
    width: 85.35%;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 1.2rem;


    .image {
      background-image: url("/images/image-qr-code.png");
      height: 12.5rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 18rem;
      border-radius: 0.6rem;
      margin-top: 0.002rem;
    }

    .text {
        margin: 1.5rem 1rem;


      h1 {
        color: $DarkBlue;
        font-size: 1.39rem;
        font-weight: 700;
        text-align: center;
      }
      p {
        margin-top: 1rem;
        color: $GrayishBlue;
        text-align: center;
        line-height: 1.2;
        font-size: $font-p;
        letter-spacing: 0.2px;
      }
    }
  }
}
